---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@font-face {
  font-family: 'FiraGO';
  src: url('{{ site.url }}/assets/firago/FiraGO-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraGO';
  src: url('{{ site.url }}/assets/firago/FiraGO-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FiraGO';
  src: url('{{ site.url }}/assets/firago/FiraGO-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'TilburgsAns';
  src: url('{{ site.url }}/assets/tilburgsans/TilburgsAns-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TilburgsAns';
  src: url('{{ site.url }}/assets/tilburgsans/TilburgsAns-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body,
.sidebar li,
.masthead__inner-wrap,
.page__footer-follow li,
.page__footer-copyright,
.page__meta,
.pagination--pager {
  font-family: 'FiraGO', $sans-serif;
}

h1 {
  font-family: 'TilburgsAns', $sans-serif;
  font-weight: normal;
  font-size: 2em;
}

h2, h2.archive__item-title {
  font-family: 'TilburgsAns', $sans-serif;
  font-weight: normal;
  font-size: 1.5em;
}

h3 {
  font-family: 'TilburgsAns', $sans-serif;
  font-weight: bold;
}

.sidebar h3.author__name {
  font-family: 'TilburgsAns', $sans-serif;
}

.btn {
  font-family: 'TilburgsAns', $sans-serif;
}

.feature__item {
  position: relative;
  margin-bottom: 2em;
  font-size: 1.125em;

  @include breakpoint($small) {
    float: left;
    margin-bottom: 0;
    width: span(3 of 12);

    &:nth-child(4n + 1) {
      clear: both;
      margin-left: 0;
    }

    &:nth-child(4n + 2) {
      clear: none;
      margin-left: gutter(of 12);
    }

    &:nth-child(4n + 3) {
      clear: none;
      margin-left: gutter(of 12);
    }

    &:nth-child(4n + 4) {
      clear: none;
      margin-left: gutter(of 12);
    }

    .feature__item-teaser {
      max-height: 200px;
      overflow: hidden;
    }
  }
}
