name: CI
on: [ push, pull_request ]

jobs:
  supported-jdk:
    name: ${{ matrix.title }}
    continue-on-error: ${{ matrix.continue-on-error }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - title: "Supported JDK 8"
            continue-on-error: false
            cache-id: "jdk8"
            java: 8
            dist: adopt
            flags: "-DdisableStaticAnalysis"
          - title: "Supported JDK 11"
            continue-on-error: false
            cache-id: "jdk11"
            java: 11
            dist: adopt
            flags: ""
          - title: "Supported JDK 17"
            continue-on-error: false
            cache-id: "jdk17"
            java: 17
            dist: zulu
            flags: ""
          - title: "Experimental JDK EA (simplified)"
            continue-on-error: false
            cache-id: "jdk-ea-simple"
            java: "18-ea"
            dist: zulu
            flags: "-Dexperimental -DdisableStaticAnalysis"
          - title: "Experimental JDK EA (full)"
            continue-on-error: true
            cache-id: "jdk-ea-full"
            java: "18-ea"
            dist: zulu
            flags: ""
    runs-on: ubuntu-latest
    steps:
    - name: 'Checkout from Git'
      uses: actions/checkout@v2
    - name: 'Cache Maven repo'
      uses: actions/cache@v2.1.6
      with:
          path: |
            ~/.m2/repository
            target/spotless-node-modules-prettier-format
          key: ${{ runner.os }}-mvn-${{ matrix.cache-id }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-mvn-${{ matrix.cache-id }}
    - name: 'Set up JDK ${{ matrix.java }}'
      uses: actions/setup-java@v2
      with:
          distribution: ${{ matrix.dist }}
          java-version: ${{ matrix.java }}
    - name: 'Set up node' # Needed for formatting with prettier
      uses: actions/setup-node@v2.4.1
      with:
        node-version: 12
    - name: 'Display JDK version'
      run: java -version
    - name: 'Run Maven'
      # Don't clean, or whatever was cached in target/spotless-node-modules-prettier-format is lost
      run: mvn verify ${{ matrix.flags }}
