# Part two of two stage process for updating PRs with pitest results when accepting PRs from untrusted forks.
#
# The version of this file that runs is the version in the main/master branch, NOT the version in the PR. It must therefore
# be committed to main/master before the process can run for the first time.
#
# This workflow takes an artifact containing pitest results generated in part one, and updated the PR. It runs with
# write access.
#

name: PITest comment

# read-write repo token
# access to secrets
on:
  workflow_run:
    workflows: ["PITest"]
    types:
      - completed

jobs:
  pitest-update-pr:
    name: Add PITest comment
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Download artifact
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: ${{ github.event.workflow_run.workflow_id }}
          name: pitest
          path: target/pit-reports-ci
          workflow_conclusion: success
      - name: update pull request
        # The updatePR maven goal is used here with an explicit version. This allows us to upload without checking out
        # the code, but does mean the version here must be maintained. An alternative would be to checkout the code and use
        # the github goal. This will work as long as the artifact is extracted to the maven target directory
        run: mvn -DrepoToken=${{ secrets.GITHUB_TOKEN }} com.groupcdg:pitest-github-maven-plugin:0.1.0:updatePR
